.formacao-container__imagem {
    height: 58px;
    width: 84px;
}

@media screen and (min-width: 768px) {
    .formacao-container__imagem {
        height: 48px;
        width: 70px;
    }
}

@media screen and (min-width: 1024px) {
    .formacao-container__imagem {
        height: 130px;
        width: 192px;
    }
}
